<% layout('layouts/app') %>

<h1 class="text-center mt-3">Register</h1>
<div class="col-6 offset-3">
  <form class="validated-form" novalidate action="/register" method="POST">
    <div class="mb-2">
      <label class="form-label" for="username">Username</label>
      <input
        class="form-control"
        type="text"
        name="username"
        id="username"
        required
      />
      <div class="invalid-feedback">Please fill this field</div>
    </div>
    <div class="mb-2">
      <label class="form-label" for="email">E-mail</label>
      <input
        class="form-control"
        type="email"
        name="email"
        id="email"
        required
      />
      <div class="invalid-feedback">Please fill this field</div>
    </div>
    <div class="mb-2">
      <label class="form-label" for="password">Password</label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="password"
        required
      />
      <div class="invalid-feedback">Please fill this field</div>
    </div>
    <button class="btn btn-success mt-3" type="submit">Register</button>
    <a href="/places" class="btn btn-secondary mt-3 mx-2">Back</a>
  </form>
</div>




