<% layout('layouts/app') %>

<h1 class="text-center mt-3">Add Place</h1>
<div class="col-6 offset-3">
  <form class="validated-form" novalidate action="/places" method="post" enctype="multipart/form-data">
    <div class="mb-2">
      <label class="form-label" for="title">Title</label>
      <input
        class="form-control"
        type="text"
        name="place[title]"
        id="title"
        required
      />
      <div class="invalid-feedback">Please fill this field</div>
    </div>
    <div class="mb-2">
      <label class="form-label" for="location">Location</label>
      <input
        class="form-control"
        type="text"
        name="place[location]"
        id="location"
        required
      />
      <div class="invalid-feedback">Please fill this field</div>
    </div>
    <div class="mb-2">
      <label class="form-label" for="description">Description</label>
      <textarea
        class="form-control"
        name="place[description]"
        id="description"
        required
      ></textarea>
      <div class="invalid-feedback">Please fill this field</div>
    </div>
    <div class="mb-2">
      <label class="form-label" for="price">Price</label>
      <input
        class="form-control"
        type="number"
        name="place[price]"
        id="price"
        required
      />
      <div class="invalid-feedback">Please fill this field</div>
    </div>
    <div class="mb-2">
      <label class="form-label" for="image">Image</label>
      <input class="form-control" type="file" name="image" id="image" accept="image/*" multiple required>
      <div class="invalid-feedback">Please fill this field</div>
    </div>
    <button class="btn btn-success mt-3" type="submit">Save</button>
    <a href="/places" class="btn btn-secondary mt-3 mx-2">Back</a>
  </form>
</div>


